---
layout: default
title: Press and Logos
suppress_header: true
extra_css:
  - press.css
---
.wrapper
  .press-content
    %h1 PRESS AND LOGOS
    %h3
      For press enquiries, please email:
      %span
        press@gitlab.com
        %span
  .sub-wrapper
    .container.text-center
      .row
        .col-md-12.recent-news
          %h2 RECENT NEWS
          .recent-blog
            %p
              For press releases, please
              %a{href: "https://about.gitlab.com/press/releases/"} visit our Press Releases page.
            %p
              For updates from the GitLab team, please
              %a{href: "https://about.gitlab.com/blog/archives.html"} visit our blog
              or
              = succeed "." do
                %a{href: "https://twitter.com/gitlab/"} view our Twitter feed
      %hr.divider/
      .row
        .col-md-12.recent-podcasts
          %h2 PODCASTS
          .podcasts
            .podcast-item
              .podcast-date
                SEPTEMBER 2016
              .press-text
                %a{href: "https://changelog.com/podcast/220"}
                  .article-title
                    Changelog: GitLab Master Plan
            .podcast-item
              .podcast-date
                OCTOBER 2014
              .press-text
                %a{href: "http://blog.bitnami.com/2014/10/bitnami-open-source-leaders-interview.html"}
                  .article-title
                    Bitnami Open Source Leaders Interview Series
            .podcast-item
              .podcast-date
                AUGUST 2014
              .press-text
                %a{href: "http://www.binpress.com/blog/2014/08/05/binpress-podcast-episode-5-sytse-sijbrandij-gitlab/"}
                  .article-title
                    Binpress podcast
            .podcast-item
              .podcast-date
                NOVEMBER 2013
              .press-text
                %a{href: "http://episodes.gitminutes.com/2013/11/gitminutes-25-sytse-sijbrandij-from.html"}
                  .article-title
                    Git Minutes (Nov 2013)
            .podcast-item
              .podcast-date
                SEPTEMBER 2013
              .press-text
                %a{href: "http://thechangelog.com/103/"}
                  .article-title
                    Changelog: GitLab and Open Source
      %hr.divider/
      .row
        .col-md-12.investors
          %h2 INVESTORS
          .logo-row
            .press-image
              %a{href: "https://about.gitlab.com/2015/07/09/1.5M-raised-in-seed-funding-for-gitlab-to-accelerate-growth-and-expand-operations/"}
                = image_tag "/images/press/khosla.png"
            .press-image
              %a{href: "https://about.gitlab.com/2015/03/04/gitlab-is-part-of-the-y-combinator-family/"}
                = image_tag "/images/press/user_75.png"
            .press-image
              %a{href: "https://about.gitlab.com/2015/07/09/1.5M-raised-in-seed-funding-for-gitlab-to-accelerate-growth-and-expand-operations/"}
                = image_tag "/images/press/500.png"
            .press-image
              %a{href: "https://about.gitlab.com/2016/09/13/gitlab-master-plan/"}
                = image_tag "/images/press/augustcap_logo.png"
      %hr.divider/
      .row
        .col-md-12.images-column
          %h2 IMAGES & LOGOS
          %h4
            %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/repository/archive.zip?ref=master"} Download all images (zip)
          %h4
            %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/tree/master/"} GitLab artwork repository with all images
          .downloads
            .image-container
              .text
                %span Logo
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png", target: "_blank"}
                .image.fox
              .list
                %a.btn.btn-default{download: "gitlab_logo", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.jpg"}
                  %i.fa.fa-download
                  %span   .JPG
                %a.btn.btn-default{download: "gitlab_logo", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "gitlab_logo_white", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "gitlab_logo_trans", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Logo (square)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png", target: "_blank"}
                .image.fox
              .list
                %a.btn.btn-default{download: "gitlab_logo", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "gitlab_logo_white", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "gitlab_logo_trans", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Logo (whitespace)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png", target: "_blank"}
                .image.fox
              .list
                %a.btn.btn-default{download: "gitlab_logo", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-extra-whitespace.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "gitlab_logo_white", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-extra-whitespace.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "gitlab_logo_trans", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-extra-whitespace.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Stacked Wordmark (dark BG)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.png", target: "_blank"}
                .image.stacked-wordmark
              .list
                %a.btn.btn-default{download: "stacked_wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "stacked_wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "stacked_wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Stacked Wordmark (no BG)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.png", target: "_blank"}
                .image.stacked-wordmark-no-bg
              .list
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_no_bg.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Stacked Wordmark (B&W)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.png", target: "_blank"}
                .image.stacked-wordmark-grayscale
              .list
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "stacked_wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/stacked_wm_grayscale.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Wordmark (dark BG)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.png", target: "_blank"}
                .image.wordmark
              .list
                %a.btn.btn-default{download: "wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "wordmark", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Wordmark (no BG)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png", target: "_blank"}
                .image.wordmark-no-bg
              .list
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Wordmark (B&W)
              %a{href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.png", target: "_blank"}
                .image.wordmark-grayscale
              .list
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.png"}
                  %i.fa.fa-download
                  %span   .PNG
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.svg"}
                  %i.fa.fa-download
                  %span   .SVG
                %a.btn.btn-default{download: "wordmark_no_bg", href: "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
            .image-container
              .text
                %span Founders
              %a{href: "/images/press/founders.jpg", target: "_blank"}
                .image.founders
              .list
                %a.btn.btn-default{download: "gitlab_founders", href: "/images/press/founders.jpg"}
                  %i.fa.fa-download
                  %span   .JPG
            .image-container
              .text
                %span Diff View
              %a{href: "/images/press/screenshots/diff.png", target: "_blank"}
                .image.diff
              .list
                %a.btn.btn-default{download: "gitlab_diff_view", href: "/images/press/screenshots/diff.png"}
                  %i.fa.fa-download
                  %span   .PNG
            .image-container
              .text
                %span Merge request
              %a{href: "/images/press/screenshots/mr.png", target: "_blank"}
                .image.mr
              .list
                %a.btn.btn-default{download: "gitlab_mr", href: "/images/press/screenshots/mr.png"}
                  %i.fa.fa-download
                  %span   .PNG
            .image-container
              .text
                %span Network Graph
              %a{href: "/images/press/screenshots/network_graph.png", target: "_blank"}
                .image.network-graph
              .list
                %a.btn.btn-default{download: "gitlab_network_graph_view", href: "/images/press/screenshots/network_graph.png"}
                  %i.fa.fa-download
                  %span   .PNG
            .image-container
              .text
                %span File View
              %a{href: "/images/press/screenshots/file_view.png", target: "_blank"}
                .image.file
              .list
                %a.btn.btn-default{download: "gitlab_file_view", href: "/images/press/screenshots/file_view.png"}
                  %i.fa.fa-download
                  %span   .PNG
            .image-container
              .text
                %span Git Cheat Sheet
              %a{href: "/images/press/git-cheat-sheet.pdf", target: "_blank"}
                .image.file
              .list
                %a.btn.btn-default{download: "gitlab_file_view", href: "/images/press/git-cheat-sheet.pdf"}
                  %i.fa.fa-download
                  %span   .PDF
